/* RSS Feed Div */


/* Navbar */

.feed-navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    max-height: 11%;
    min-width: 100%;
    display: inline-block;
    background-color: darkmagenta;
    padding: 2%;
    border: solid;
    border-color: white;
    border-width: 1px;
}

.navbar-rss {
    text-align: left;
}

.navbar-reload {
    text-align: right;
}

.feed-navbar img {
  max-width: 22px;
  max-height: 22px;
  vertical-align: middle;
}

/* Content List */

.feed-content {
    padding: 3%;
    background-color: lightgray;
    min-height: inherit;
}

/* Feed Item */

.news-item {
    padding: 3%;
    background-color: #666;
    border: solid;
    border-color: black;
    border-width: 3px;
}