/* RSS Feed Div */


/* Navbar */

.feed-navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    min-height: 55%;
    min-width: 100%;
    display: inline;
    background-color: darkmagenta;
    padding: 2%;
    margin-top: 5%;
    border: solid;
    border-color: black;
    border-width: 3px;
}

.navbar-rss {
    vertical-align: left;
}

.navbar-reload {
    vertical-align: right;
}

.feed-navbar img {
  max-width: 22px;
  max-height: 22px;
  vertical-align: middle;
}

/* Content List */

.feed-content {
    padding: 3%;
    background-color: lightgray;
}

/* Feed Item */

.news-item {
    padding: 3%;
    background-color: darkgray;
    border: solid;
    border-color: black;
    border-width: 3px;
}