<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="src/css/menu.css">
</head>

<body>
    <div id="sidebar-ribbon" onmouseleave="Navigator.toggleMenu(false);">
        <div class="menu" id="sectionname-menu-wrapper">
            <span>Section - </span>
            <span class="sectionname"></span>
        </div>

        <div class="menu" id="navbar-menu">
            <a onclick="Navigator.goToSection('primary');">Primary</a>
            <a onclick="Navigator.goToSection('local');">Local</a>
            <a onclick="Navigator.goToSection('global');">Global</a>

            <span>Politics</span>
            <div class="sublist" id="politics-sublist">
                <a onclick="Navigator.goToSection('politics-local');">Local</a>
                <a onclick="Navigator.goToSection('politics-australia');">Australia</a>
                <a onclick="Navigator.goToSection('politics-global');">Global</a>
            </div>

            <span>Satire</span>
            <div class="sublist" id="satire-sublist">
                <a onclick="Navigator.goToSection('satire-australia');">Australia</a>
                <a onclick="Navigator.goToSection('satire-global');">Global</a>
            </div>

            <span>Publications</span>
            <div class="sublist menu" id="publications-sublist">
                <a onclick="Navigator.goToSection('publications-focused');">Focused</a>
                <a onclick="Navigator.goToSection('publications-astronomy');">Astronomy</a>
                <a onclick="Navigator.goToSection('publications-other');">Other</a>
            </div>

            <a onclick="Navigator.goToSection('tech');">Sci/Tech</a>
        </div>
    </div>

    <div id="decolourbox" onclick="Navigator.toggleMenu(false);" onmouseenter="Navigator.toggleMenu(false);"></div>

</body>