<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="src/css/menu.css">
</head>

<body>
    <div id="sidebar-ribbon" class="primary-color-css" onmouseleave="toggleMenu(false);">
        <div class="menu" id="sectionname-menu-wrapper">
            Section - <br><span id="sectionname-menu"></span>
        </div>

        <div class="menu" id="navbar-menu">
            <a onclick="goToSection('primary')">Primary</a>
            <a onclick="goToSection('local')">Local</a>
            <a onclick="goToSection('global')">Global</a>

            <span>Politics</span>
            <div class="sublist" id="politics-sublist">
                <a onclick="goToSection('politics-local')">Local</a>
                <a onclick="goToSection('politics-australia')">Australia</a>
                <a onclick="goToSection('politics-global')">Global</a>
            </div>

            <a onclick="goToSection('satire')">Satire</a>

            <span>Publications</span>
            <div class="sublist menu" id="publications-sublist">
                <a onclick="goToSection('publications-astronomy')">Astronomy</a>
                <a onclick="goToSection('publications-other')">Other</a>
            </div>

            <a onclick="goToSection('sci-tech')">Sci/Tech</a>
        </div>
    </div>

    <div id="decolourbox" onclick="toggleMenu(false);"></div>

</body>