<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="src/css/ribbon.css">
</head>

<body>
  <div class="ribbon ribbon-crunch" id="menu-button">
    <a onclick="mhtml.toggleMenu(true);"><img src="src/img/menu.png"></a>
  </div>

  <div class="ribbon ribbon-main ribbon-crunch" id="name">OHRW's News Feed</div>

  <div class="ribbon ribbon-main" id="navbar">
    <a onclick="mhtml.goToSection('primary');">Primary</a>
    <a onclick="mhtml.goToSection('local');">Local</a>
    <a onclick="mhtml.goToSection('global');">Global</a>

    <div hidden class="dropdown" id="drop-wrapper-politics">
      <div hidden class="dropdown-content" id="drop-politics">
        <a onclick="mhtml.goToSection('politics-local');">Local (WA)</a>
        <a onclick="mhtml.goToSection('politics-australia');">Australia</a>
        <a onclick="mhtml.goToSection('politics-global');">Global (and US)</a>
      </div>
    </div>

    <a class="dropbtn" onclick="mhtml.showSubList('politics');" onmouseleave="mhtml.hideSubList('politics');">Politics</a>

    <a onclick="mhtml.goToSection('satire');">Satire</a>

    <div hidden class="dropdown" id="drop-wrapper-publications">
      <div hidden class="dropdown-content" id="drop-publications">
        <a onclick="mhtml.goToSection('publications-astronomy');">Astronomy/Astrophysics</a>
        <a onclick="mhtml.goToSection('publications-other');">Other Academic</a>
      </div>
    </div>

    <a class="dropbtn" onclick="mhtml.showSubList('publications');" onmouseleave="mhtml.hideSubList('publications');">Publications</a>

    <a onclick="mhtml.goToSection('tech');">Sci/Tech</a>
  </div>

  <div class="ribbon ribbon-main" id="sectionname">Primary</div>

</body>