<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="src/css/ribbon.css">
</head>

<body>
  <a onclick="Navigator.toggleMenu(true);" class="ribbon ribbon-crunch icon-button">
    <img src="src/img/icons/menu.png">
  </a>

  <div class="ribbon ribbon-main ribbon-crunch" id="name">OHRW's News Feed</div>

  <div class="ribbon ribbon-main" id="navbar">
    <a onclick="Navigator.goToSection('primary');">Primary</a>
    <a onclick="Navigator.goToSection('local');">Local</a>
    <a onclick="Navigator.goToSection('global');">Global</a>

    <div hidden class="dropdown" id="drop-wrapper-politics">
      <div hidden class="dropdown-content" id="drop-politics">
        <a onclick="Navigator.goToSection('politics-local');">Local (WA)</a>
        <a onclick="Navigator.goToSection('politics-australia');">Australia</a>
        <a onclick="Navigator.goToSection('politics-global');">Global (and US)</a>
      </div>
    </div>

    <a class="dropbtn" onclick="Navigator.showSubList('politics');" onmouseleave="Navigator.hideSubList('politics');">Politics</a>

	<div hidden class="dropdown" id="drop-wrapper-satire">
      <div hidden class="dropdown-content" id="drop-satire">
        <a onclick="Navigator.goToSection('satire-australia');">Australia</a>
        <a onclick="Navigator.goToSection('satire-global');">Global (and US)</a>
      </div>
    </div>

    <a onclick="Navigator.showSubList('satire');" onmouseleave="Navigator.hideSubList('satire');"">Satire</a>

    <div hidden class="dropdown" id="drop-wrapper-publications">
      <div hidden class="dropdown-content" id="drop-publications">
        <a onclick="Navigator.goToSection('publications-focused');">Focused</a>
        <a onclick="Navigator.goToSection('publications-astronomy');">Astronomy/Astrophysics</a>
        <a onclick="Navigator.goToSection('publications-other');">Other Academic</a>
      </div>
    </div>

    <a class="dropbtn" onclick="Navigator.showSubList('publications');" onmouseleave="Navigator.hideSubList('publications');">Publications</a>

    <a onclick="Navigator.goToSection('tech');">Sci/Tech</a>
  </div>

  <div class="ribbon ribbon-main secnameribbon sectionname"></div>

</body>