<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="src/css/ribbon.css">
</head>

<body>
  <div class="ribbon ribbon-main ribbon-crunch" id="name">OHRW's News Feed</div>

  <div class="ribbon ribbon-main" id="navbar">
    <a onclick="goToSection('primary')">Primary</a>
    <a onclick="goToSection('local')">Local</a>
    <a onclick="goToSection('global')">Global</a>

    <div hidden class="dropdown" id="drop-wrapper-politics">
      <div hidden class="dropdown-content" id="drop-politics">
        <a onclick="goToSection('politics-local')">Local (WA)</a>
        <a onclick="goToSection('politics-aus')">Australia</a>
        <a onclick="goToSection('politics-global')">Global (and US)</a>
      </div>
    </div>

    <a class="dropbtn" onclick="showSubList('politics')" onmouseleave="hideSubList('politics')">Politics</a>

    <a onclick="goToSection('satire')">Satire</a>

    <div hidden class="dropdown" id="drop-wrapper-publications">
      <div hidden class="dropdown-content" id="drop-publications">
        <a onclick="goToSection('publications-astronomy')">Astronomy/Astrophysics</a>
        <a onclick="goToSection('publications-other')">Other Academic</a>
      </div>
    </div>

    <a class="dropbtn" onclick="showSubList('publications')" onmouseleave="hideSubList('publications')">Publications</a>

    <a onclick="goToSection('sci-tech')">Sci/Tech</a>
  </div>

  <div class="ribbon ribbon-main" id="sectionname">Primary</div>

</body>