<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="src/css/rss-feed.css">
</head>

<body>
    <div class="feed-navbar">
        <div class="feed-navbar-item feed-navbar-left">
            <a hidden onclick="mhtml.toggleMenu(true);" class="icon-button rss-feed-min">
                <img src="src/img/icons/menu.png">
            </a>
            <a onclick="mrh.toggleFullscreen(true);" class="rss-feed-max icon-button">
                <img onload="mrh.checkFullscreen();" src="src/img/icons/fullscreen.png">
            </a>
            <a hidden onclick="mrh.toggleFullscreen(false);" class="rss-feed-min icon-button">
                <img src="src/img/icons/minimize.png">
            </a>
            <a onclick="mrh.reloadFeed(false);" class="rss-feed-max icon-button">
                <img src="src/img/icons/refresh.png">
            </a>
            <a hidden onclick="mrh.reloadFeed(true);" class="rss-feed-min icon-button">
                <img src="src/img/icons/refresh.png">
            </a>
        </div>
        <div class="feed-navbar-item feed-navbar-right">
            <span class="current-date"></span>
            <span class="rss-feed-max">—</span>
            <span class="rss-feed-max sectionname"></span>
        </div>
    </div>
    <div onload="" class="feed-content" id="rss-news-feed">
        <p>
        <div html-ref="src/layout/rss-object.htm"></div>
        </p>
        <p>
        <div html-ref="src/layout/rss-object.htm"></div>
        </p>
    </div>
</body>