<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="src/css/rss-feed.css">
</head>

<body onload="">
    <div class="feed-navbar">
        <div class="feed-navbar-item feed-navbar-button feed-navbar-left">
            <a class="rss-feed-max" onclick="mrh.reloadFeed(false);" class="icon-button">
                <img src="src/img/icons/refresh.png">
            </a>
            <a hidden class="rss-feed-min" onclick="mrh.reloadFeed(true);" class="icon-button">
                <img src="src/img/icons/refresh.png">
            </a>
        </div>
        <div class="feed-navbar-item central-navbar">
            <span class="current-date"></span>
        </div>
        <div class="feed-navbar-item feed-navbar-button feed-navbar-right">
            <a onclick="mrh.toggleFullscreen(true);" class="rss-feed-max" class="icon-button">
                <img src="src/img/icons/fullscreen.png">
            </a>
            <a hidden onclick="mrh.toggleFullscreen(false);" class="rss-feed-min" class="icon-button">
                <img src="src/img/icons/minimize.png">
            </a>
        </div>
    </div>
    <div onload="" class="feed-content" id="rss-news-feed">
        <p>
        <div html-ref="src/layout/rss-object.htm"></div>
        </p>
        <p>
        <div html-ref="src/layout/rss-object.htm"></div>
        </p>
    </div>
</body>