<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="src/css/rss-feed.css">
</head>
<body>
<div class="feed-navbar">
    <a class="navbar-button navbar-rss" onclick="" href="src/data/test_feed.xml"><img src="src/img/rss.png"></a>
    <span class="current-date"></span>
    <a class="navbar-button navbar-reload" onclick=""><img src="src/img/reload.png"></a>
</div>
<div onload="" class="feed-content" id="news-feed">
    <p>
        <div w3-include-html="src/layout/rss-object.htm"></div>
    </p>
    <p>
        <div w3-include-html="src/layout/rss-object.htm"></div>
    </p>
</div>
</body>