<div class="news-item" id="test-item">
    <img class="item-image" src="src/img/boomcon.jpg">

    <h4>
        <span class="item-title">New RSS Site Seeks to Give Online News Media the Finger</span>
    </h4>
    <small>
        <span class="item-channel">Test News Network (TNN)</span>
    </small>
    <p>
        <span class="item-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut dolor turpis.
            Vivamus ullamcorper non nibh nec feugiat. Sed suscipit magna velit. Aliquam sit amet fermentum tortor.
            Nullam accumsan libero non consectetur suscipit. Maecenas sit amet leo leo. Vivamus neque ante, pharetra sed
            suscipit eget, vulputate ac enim.
        </span>
    </p>

    <button href="">Read More ...</button>
</div>